ENVIRONMENT=development

CONSUMER_KEY=
CONSUMER_SECRET=
TOKEN=
TOKEN_SECRET=
PORT=8080
NEWRELIC_KEY=00000000003fcc003790494cf8114aab361fe0aa
HOST=https://www.reaction.pics

ROLLBAR_SERVER_TOKEN=
ROLLBAR_CLIENT_TOKEN=

VARSNAP=true
VARSNAP_CONSUMER_TOKEN=consumer-jflf6bv9tgmxm9l7uige
VARSNAP_PRODUCER_TOKEN=producer-ytom0dsrz6kroadgsy00
