[Unit]
Description=Go Server
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/ubuntu/gocode/src/github.com/albertyw/reaction-pics
Environment="ROOT_DIR=/home/ubuntu/gocode/src/github.com/albertyw/reaction-pics/"
ExecStart=/home/ubuntu/gocode/src/github.com/albertyw/reaction-pics/reaction-pics

[Install]
WantedBy=multi-user.target
